/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.task-icon {
  width: 10px;
}

.task-description {
  background-color: #F0F4F0;
  width: 600px;
  height: 50px;
  padding: 20px;
  border-radius: 5px;
  padding: 10px 5px;
}

.task-completed {
  width: 600px;
  height: 50px;
  margin: 10px;
  border-bottom: solid 1px #F0F4F0;
}

#edit-task {
  width: 100px;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(251, 202, 147, 0.7);
  margin: 5px 0;
  color: white;

}

#text-area {
  width: 100%;
}

#task-list {
  border: none;
}
